@model IEnumerable<CasusBlok4.Models.Entity.Transaction>

@{
    ViewData["Title"] = "MyTransactions";
}

<h1>Mijn transacties</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDonation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDonation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName) @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @*TODO: Give users the ability to see full transaction*@
                @*<a asp-action="Details" asp-route-id="@item.TransactionId">Details</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
